/* Allow users in the 'libvirt' group to manage VMs without a password */
polkit.addRule(function(action, subject) {
  if (action.id == "org.libvirt.unix.manage" &&
      subject.isInGroup("libvirt")) {
    return polkit.Result.YES;
  }
});
